body {
   color: black; background: #ccc;
   margin: 0 auto; padding: 10px;
   width: 800px;
   font-size: 16px;
   font-family: sans-serif;
}

h1 { margin: 0 0 20px 0; text-align: center; font-weight: normal }

canvas { 
   padding: 10px; background: white; 
   border-radius: 10px;
   border: 1px solid #bbb;
   -moz-border-radius: 10px;
}

#legend {
   clear: both;
   float: left;
   border: 1px solid #bbb;
   background: white;
   color: #6bf;
   margin: 20px 10px 0 30px;
   padding: 5px 10px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   font-size: 90%;
}
#legend thead th { text-align: left }
#legend th { padding: 3px 10px 3px 0; }
#legend td { color: black; padding: 0px; font-weight: normal; }

.arrow {
}
.arrow:hover { 
   cursor: pointer; 
   color: #6bf;
}

form { float: left; margin-right: 10px; }
form table { border-collapse: collapse }
form th { 
   font-weight: normal;
   text-align: right; 
   vertical-align: middle; 
}
form th, form td { padding: 0px 5px 5px 0px; }
form tr.submit td { text-align: center }
input[type="text"], textarea, .input {
   border-radius: 5px;
   border: 1px solid #bbb;
   -moz-border-radius: 5px;
   padding: 5px 7px;
   outline: 0;
   border: 0;
   background: #9ef;
}
#angle { width: 20px }
#iterations { width: 10px }
